<!-- detail.html -->
{% extends "base.html" %}
{%  block content %} 
<h2>{{ poll.question_text }}</h2>

{% if error_message  %}
    <p><strong>{{ error_message }}</strong></p>
{% endif  %}

<form action="{% url 'poll:vote' poll.id %}" method="post">
{% csrf_token  %}
{% for answer in poll.answers_set.all  %}
    <!-- <li>{{ answer.answer_text  }}</li> -->
    <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}" />
    <label for="answer{{ forloop.counter }}">{{ answer.answer_text }}</label><br />
{% endfor  %}
<br />
<input type="submit" value="Vote" />
</form>


{% endblock %}

