<!-- index.html -->
{% extends "base.html" %}
{%  block content %}  
<h2>Here is a list of the most current polls</h2>
{% if recent_question_list %}
    <table border="2">
    <tr>
        <th>Poll Title</th>
        <th>Poll Start Date</th>
        <th>Poll End Date</th>
        <th>Start the Poll</th>
    </tr>
    <tr>
    {% for question in recent_question_list  %}
{#      {% if question.end_date >= now %} #}
        <td><a href="{% url 'poll:detail' question.id %}">{{ question.poll_title }}</a>{{ question.start_time }}</td>
        <td>{{ question.begin_date }}</td>
        <td>{{ question.end_date }}</td>
        <td><form action="{% url 'poll:sendEmail' question.id %}"  method="post" style="margin: 0; text-align: center;">
        {% csrf_token %}<input type="submit" value="Send Email" /></form></td>
    </tr>
{#      {% else %} #}
{#        <td>&nbsp</td> #}
{#      {% endif %} #}
    {% endfor %}
</table>
{% else %}
    <p>No polls exist yet</p>
{% endif %}

{% if messages %}
    {% for message in messages %}
    <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
    {% endfor %}
{% endif %}

{% endblock %}

